# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment (если создается в папке проекта)
.venv/
env/
venv/

# Poetry lock and cache (если используешь глобально, то это ок)
# Можно оставить poetry.lock в репозитории
# .python-version  # если используешь pyenv

# VS Code config
.vscode/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Pylint
.pylint.d/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pyre type checker
.pyre/

# Build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Unit test / coverage reports
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints/

# MacOS
.DS_Store

# System files
Thumbs.db
ehthumbs.db
Icon?